<!-- Log in Page -->
<main class="main">
  <section class="user-entry">
    <div class="panel">
      <div class="panel-body text-center">
        <div class="logo">
          <%= image_tag('Timblee-icon.svg', class: 'logo-inner') %>
        </div>
        <h1 class="modal-heading">
          Log in
        </h1>
        <% if flash.alert.present? %>
          <div class='field_with_errors'>
            <span class='error-message login-error-message'><%= flash.alert %></span>
          </div>
          <% flash.clear %>
        <% end %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'user-form' }) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Your email' %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Your password' %>
          </div>
          <div class="form-group m-b-10">
            <%= f.submit "Log in", class: 'btn btn-pink btn-block' %>
          </div>
          <div class="row recover">
            <div class="col-md-6 text-left">
              <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'link-regular' %><br />
            </div>
            <div class="col-md-6 text-right">
              <%= link_to "Don't have a login?", new_registration_path(resource_name), class: 'link-regular' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</main>
<!-- Log in Page -->
<% if params['modal'] %>
  <%= render 'shared/sucessful_reset_password_sent_modal' %>
  <% flash.clear %>
<% end %>
