<p>Hello <%= @email %></p>

<p><%= @inviter_name %> has shared a sitemap with you.</p>

<% if @custom_message.present? %>
  <p>Here is a personal message from <%= @inviter_name %></p>
  <p><%= @custom_message %></p>
<% end %>

<p>You can view and comment on the sitemap through the below link:</p>

<p><%= link_to 'View Sitemap', sitemap_public_share_url(@sitemap.public_share_token).gsub(/(?<protocol>http(s?):\/\/)/, '\k<protocol>share.') %></p>

Thanks and Regards
Timblee
