<div role="tabpanel" class="tab-pane" id="billing">

  <form class="settings-form">
    <div class="form-group">

      <% if !current_business.plan && current_business.in_trial_period? %>
        <div class="row">
          <div class="col-xs-9">
            <label>Plan</label>
            <p class="font-12-light">You're on the free trial till  <%= current_business.trial_end_at.to_s(:long) %> with no restrictions. To keep using Timblee after that, we'll ask you to choose a plan and add a credit card. Our pricing is simple – $19 per month for the first user and $12 for every subsequent user. If you’ll only need to plan websites ocassionally and work alone, there's also a free plan.</p>
          </div>
          <div class="col-xs-3 text-right edit-info">
            <div class="edit">
              <a href="#choose-plan-modal" data-toggle="modal" class="btn btn-pink btn-single">Choose a plan</a>
            </div>
          </div>
        </div>
      <% elsif current_business.is_pro_plan? %>

      <div class="row">
        <div class="col-xs-9">
          <label>Plan</label>
          <p class="font-12-light">You're on the Pro plan with <%= current_business.no_of_users %> users. Your monthly charge is $<%= current_business.monthly_charge%>. To add more users, click on the 'Team' tab above.</p>
        </div>
        <div class="col-xs-3 text-right edit-info">
          <div class="edit">
            <a href="#starter-plan-modal-" data-dismiss="modal" data-toggle="modal" class="btn btn-pink btn-single">Edit Plan</a>
          </div>
        </div>
      </div>
      <% else %>

      <div class="row">
        <div class="col-xs-9">
          <label>Plan</label>
          <p class="font-12-light">You're on the Starter plan with one user and a maximum of three sitemaps. This is a free plan. Upgrade to the Pro plan for only $19 to have unlimited sitemaps.</p>
        </div>
        <div class="col-xs-3 text-right edit-info">
          <div class="edit">
            <a href="#pro-plan-modal-" data-toggle="modal" data-dismiss="modal" class="btn btn-pink btn-single">Edit Plan</a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </form>

  <% if @card %>
    <%= form_tag businesses_card_path, { method: :post, class: 'settings-form', id: 'add-card-form' } do |f| %>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <label>Credit Card</label>
            <p class="font-12-light cc-detail-save">We're currently charging your <%= @card.brand %> ending in <%= @card.last4 %>. We accept MasterCard, Visa and American Express.</p>
            <p class="font-12-light cc-detail-edit hide">We're currently charging your <%= @card.brand %> ending in <%= @card.last4 %>. We'll never charge it without your permission. We accept MasterCard, Visa and American Express – with no additional fees or charges.</p>
          </div>
          <div class="col-xs-6 text-right edit-info">
            <div class="edit">
              <a href="javascript:void(0);" class="btn btn-grey btn-edit">Edit</a>
            </div>
            <div class="save">
              <button type="submit" class="btn btn-pink" id="add-card">Save</button>
              <a href="javascript:void(0);" class="btn btn-grey btn-cancel" id='cancel' >Cancel</a>
            </div>
          </div>
        </div>
        <div class="hide cc-add">
          <div class="row add-credit-card">
            <div class="col-xs-6">
              <%= text_field_tag '', nil, placeholder: "Card number", class: 'string form-control default-input cc-number editable-input', disabled: true %>
              <br /><span class='cc-brand pull-right'></span>
            </div>
            <div class="col-xs-3">
              <input type="text" placeholder="MM / YY" class="form-control default-input cc-exp editable-input" disabled='disabled'>

            </div>
            <div class="col-xs-3">
              <input type="password" placeholder="CVV" class="form-control default-input cc-cvv editable-input" disabled='disabled'>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class='cc-errors'></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= form_tag businesses_card_path, { method: :post, class: 'settings-form', id: 'add-card-form' } do |f| %>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <label>Credit Card</label>
            <p class="font-12-light">There is currently no credit card linked to your account. Add a card below. We'll never charge it without your permission. We accept MasterCard, Visa and American Express – with no additional fees or charges.</p>
          </div>
          <div class="col-xs-6 text-right edit-info">
            <div class="save show">
              <button type="submit" class="btn btn-pink" id="add-card">Save</button>
              <a href="javascript:void(0);" class="btn btn-grey" id='cancel' >Cancel</a>
            </div>
          </div>
        </div>
        <div class="row add-credit-card">
          <div class="col-xs-6">
            <%= text_field_tag '', nil, placeholder: "Card number", class: 'string form-control default-input cc-number' %>
            <br /><span class='cc-brand pull-right'></span>
          </div>
          <div class="col-xs-3">
            <input type="text" placeholder="MM / YY" class="form-control default-input cc-exp">

          </div>
          <div class="col-xs-3">
            <input type="password" placeholder="CVV" class="form-control default-input cc-cvv">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <span class='cc-errors'></span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <form class="settings-form delete-account">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-12">
          <label class="label-bordered">Drastic measures</label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9">
          <label>Delete your account</label>
          <p class="font-12-light">Send us a notification to delete your account. Just remember, all sitemaps and all users will be deleted permanently. This is not reversible once completed. We'll send you an email to confirm before we proceed with the deletion.</p>
        </div>
        <div class="col-xs-3 text-right edit-info">
          <div class="edit">
            <a href="#delete-business-modal" data-toggle="modal" class="btn btn-grey">Request Deletion</a>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
<!-- Choose Plan Modal -->
<%= render 'users/choose_plan_modal' %>

<!-- Pro Plan Modal -->
<%= render 'users/pro_plan_modal' %>

<!-- Starter Plan Modal -->
<%= render 'users/starter_plan_modal' %>

<%= render 'businesses/delete_business_modal' %>




<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.4.3/jquery.payment.min.js"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('<%= STRIPE_PUBLISHABLE_KEY %>');
</script>
<%= javascript_include_tag('payments', 'billing', 'plan') %>
