<!-- Invite Team Modal -->
<div class="modal fade" id="invite-user-modal" tabindex="-1" role="dialog" aria-labelledby="invite-user-modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <%= image_tag('close-modal.svg', class: 'close-modal') %>
          </span>
        </button>
        <% if current_business.in_trial_period? %>
          <h4 class="modal-title">Invite your team for free :)</h4>
          <p class="modal-message">Invite team members to join you so they can create and edit sitemaps, add comments, <br> and access all the features. Invite unlimited members free during your trial. After your trial <br> you can keep or delete users as you want.</p>
        <% else %>
         <h4 class="modal-title">Invite more people :)</h4>
          <p class="modal-message">Invite more people to join you so they can create and edit sitemaps, add comments, and <br>  access all the features. You can easily add or remove users any time.</p>
        <% end %>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6 p-t-b-20 p-r-60">
            <ul id="myTags" data-url='<%= validate_unique_email_users_path %>'>
            </ul>
            <div class='tags-error error-message'></div>
            <div class="invite-message-preview hidden">
              <p></p>
              <a class='edit-message-link'>Edit Message</a>
            </div>
            <div class="optional-message-container">
              <div class="optional-message">
                <%= form_tag (current_business.is_pro_plan? ? businesses_subscription_path : users_bulk_invitation_path), { method: :post, class: 'bulk-invitation-form'} do %>
                  <%= hidden_field_tag :stripe_plan_id %>
                  <%= text_field_tag :email, nil, { required: true, autofocus: true, class: 'bulk-invite-emails-input hidden' } %>
                  <%= text_area_tag :custom_message, nil, { class: 'form-control clear-field invite-custom-message invite-personal-message emoji-decorated', id: 'invite-personal-message', placeholder: 'Include an optional personal message.', 'data-send' => false, 'data-emojiable' => true, 'data-emoji-input' => 'unicode' } %>
                  <div class="emoji-section">
                    <a href="#" class="add-message add-invite-message">Add my message</a> or
                    <a href="javascript:void(0);" class="clear-text clear-custom-message"> Cancel</a>
                  </div>
                <% end %>
              </div>
            </div>
            <a href="#invite-user-preview-modal" data-dismiss="modal" data-toggle='modal' class=" preview-invite-button btn-modal-open">Preview the email we'll send</a>
          </div>
          <% if current_business.in_trial_period? %>
            <div class="col-xs-6 text-center avatars-group">
              <%= image_tag('avatars/avatar_5.png') %>
              <%= image_tag('avatars/avatar_13.png') %>
              <br>
              <%= image_tag('avatars/avatar_8.png') %>
              <%= image_tag('avatars/avatar_4.png') %>
            </div>
          <% else %>
            <div class="col-xs-6 text-center">
              <h3>You're adding <span class='added-pro-users-count' data-total-users-count=<%= current_business.users.count %>>0 users</span></h3>
              <% if current_business.is_pro_plan? %>
                <p>
                  You'll be charged $12 for each new user on a pro-rata basis for this billing cycle as part of your next payment. After that, your new monthly charge will be:
                </p>
              <% else %>
                <p>
                  You'll be charged $12 for each new user on a pro-rata basis immediately. Your new monthly charge is:
                </p>
              <% end %>

              <h1>$<span class='new-pro-charges'><%= Business.monthly_charge(current_business.users.count) %></span></h1>
              <p>That's $19 for the first user + $12 for each <br> additional user. All prices are in USD.</p>
            </div>
          <% end %>
          <div class="col-xs-12">
            <div class="modal-button text-center invite-users-btn-section">
              <a href="#" class="btn btn-success btn-last btn-border send-invite-button" data-dismiss="modal">
                <% if current_business.in_trial_period? %>
                  INVITE USERS
                <% else %>
                  SEND THE INVITES
                <% end %>
              </a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag('tagIt') %>
