<!-- My Info Tab -->
<div role="tabpanel" class="tab-pane active" id="my-info">
  <%= form_for current_user, url: registration_path(current_user), html: { class: 'settings-form' } do |f| %>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <label>Your name</label>
          <%= f.text_field :full_name, disabled: true, class: 'editable-input', 'data-original-value' => f.object.full_name %>
        </div>
        <div class="col-xs-6 text-right edit-info">
          <div class="edit">
            <a href="javascript:void(0);" class="btn btn-grey btn-edit">Edit</a>
          </div>
          <div class="save">
            <button type="submit" class="btn btn-pink">Save</button>
            <a href="javascript:void(0);" class="btn btn-grey btn-cancel">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= form_for current_user, url: registration_path(current_user), html: { class: 'settings-form' } do |f| %>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <label>Your email</label>
          <%= f.text_field :email, disabled: true, class: 'editable-input', 'data-original-value' => f.object.email %>
          <% unless current_user.confirmed? %>
            <span class="primary-link-color">(You need to verify this email)</span>
          <% end %>
          <% if current_user.pending_reconfirmation? %>
            <div class="primary-link-color">Currently waiting confirmation for: <%= current_user.unconfirmed_email %></div>
          <% end %>
        </div>
        <div class="col-xs-6 text-right edit-info">
          <div class="edit">
            <a href="javascript:void(0);" class="btn btn-grey btn-edit">Edit</a>
            <% if !current_user.confirmed? || current_user.pending_reconfirmation? %>
              <%= link_to user_confirmation_path(user: { email: current_user.email }), method: :post, class: 'resend' do %>
                Resend verification <br> email
              <% end %>
            <% end %>
          </div>
          <div class="save">
            <button type="submit" class="btn btn-pink">Save</button>
            <a href="javascript:void(0);" class="btn btn-grey btn-cancel">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= form_for current_user, url: update_password_users_path, html: { class: 'settings-form', method: :patch } do |f| %>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <label>Your password</label>
          <%= f.password_field :password, disabled: true, class: 'editable-input hidden-password', placeholder: '********', 'data-original-value' => '' %>
        </div>
        <div class="col-xs-6 text-right edit-info">
          <div class="edit">
            <a href="javascript:void(0);" class="btn btn-grey btn-edit">Edit</a>
          </div>
          <div class="save">
            <button type="submit" class="btn btn-pink">Save</button>
            <a href="javascript:void(0);" class="btn btn-grey btn-cancel">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <!-- Static Avatar For Now -->
  <form class="settings-form">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-9">
          <label>Your image</label>
          <div class="clearfix m-t-15">
            <%= image_tag('profile-image.png', class: 'profile-image pull-left') %>
            <div class="right-text pull-right">
              <p class="pull-right">Helps you better collaborate with clients &amp; co-workers by making your notifications and comments more personal since it will include your image. We highly recommend it.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-3 text-right edit-info">
          <div class="edit">
            <a href="javascript:void(0);" class="btn btn-grey">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Static Avatar For Now -->

  <div class="notification">
    <label>Notifications</label>
    <div class="row">
      <div class="col-xs-9">
        <h4>Email notifications</h4>
        <p>We'll email you when someone comments on a sitemap you're part of. Comments added in a 10 minute period are grouped into one email. If you switch this off, you'll see notifications only when you log in.</p>
      </div>
      <div class="col-xs-3">
        <div class="wrapper clearfix">
          <input type="checkbox" name="toggle" id="toggle" class='email-notification-checkbox' <%= 'checked' if current_user.notify_by_email %>>
          <label for="toggle" class="pull-right"></label>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- My Info Tab End -->
