<div role="tabpanel" class="tab-pane" id="personalization">
  <%= form_for current_business, html: { class: 'settings-form team-name-edit-form', remote: true } do |f| %>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <label>BUSINESS NAME</label>
          <%= f.text_field :name, disabled: true, class: 'editable-input name-field', 'data-original-value' => f.object.name, placeholder: 'Untitled' %>
        </div>
        <div class="col-xs-6 text-right edit-info">
          <div class="edit">
            <a href="javascript:void(0);" class="btn btn-grey btn-edit">Edit</a>
          </div>
          <div class="save">
            <button type="submit" class="btn btn-pink btn-border">Save</button>
            <a href="javascript:void(0);" class="btn btn-grey btn-cancel">Cancel</a>
          </div>
        </div>
        <div class="pull-left col-xs-9">
          <p class="left-text">Will be used in emails, notifications and other places where your business name might appear.</p>
        </div>
      </div>
    </div>
  <% end %>

  <%= form_for current_business, html: { class: 'settings-form', method: :patch, multipart: true } do |f| %>
    <div class="form-group">
      <div class="row row-logo-save">
        <div class="col-xs-9">
          <label>Your logo</label>
          <div class="clearfix m-t-5">
            <% if current_business.logo.present? %>
              <%= image_tag(current_business.logo, class: 'profile-image pull-left profile-image-lg') %>
            <% else %>
              <%= image_tag('business-logo.png', class: 'profile-image pull-left profile-image-lg') %>
            <% end %>
            <div class="right-text pull-right">
              <p class="pull-right">Displayed on sitemaps you or your team share with others. Upload a square PNG or JPEG image at least 100 x 100px in size.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-3 text-right edit-info">
          <div class>
            <a href="javascript:void(0);" class="btn btn-grey btn-edit-logo">Edit</a>
          </div>
        </div>
      </div>
      <div class="row row-logo-edit hide">
        <div class="col-xs-6">
          <label>Your logo</label>
          <div class="clearfix m-t-15">
            <figure class="display-image">
              <%= f.file_field :logo , class: 'logo-field', required: true %>
              <% if current_business.logo.present? %>
                <%= image_tag(current_business.logo, class: 'choose-logo profile-image pull-left profile-image-lg', 'data-original-value': current_business.logo) %>
              <% else %>
                <%= image_tag('business-logo.png', class: 'choose-logo profile-image pull-left profile-image-lg', 'data-original-value': asset_path('business-logo.png')) %>
              <% end %>
              <span class="pink-image-overlay"></span>
            </figure>
            <div class="right-text pull-right">
              <p class="pull-right surprise-image">
                Upload a square PNG or JPEG image at least 100 x 100px in size. We’ll resize it automatically  and it’ll appear sharp everywhere. If you upload a non-square image, It’ll come out squished! &nbsp; <%= image_tag('surprise.png') %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 text-right edit-info">
          <div>
            <button type="submit" class="btn btn-pink btn-border">Save</button>
            <a href="javascript:void(0);" class="btn btn-grey btn-cancel-edit-logo">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= javascript_include_tag('personalization') %>
