<div class="modal fade" id="pro-plan-modal" tabindex="-1" role="dialog" aria-labelledby="pro-plan-modalLabel">
  <div class="modal-dialog" role="document">
    <%= form_tag businesses_card_path, id: 'add-card-modal-form', class: 'settings-form'  do |f| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <div class="modal-content">
        <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <%= image_tag('close-modal.svg', class: 'close-modal') %>
            </span>
          </button>
          <a href="#account-summary-modal" class="go-back btn-modal-open" data-dismiss="modal" data-toggle="modal">
            <span class="icon icon-caret"></span>
            Back
          </a>
          <h4 class="modal-title">Enter your billing info</h4>
          <p class="modal-message">Your monthly charge will be $<span class='new-pro-charges'><%= Business.monthly_charge(current_business.users.count) %></span>. Add a payment card below.</p>
        </div>
        <div class="modal-body text-center">
          <div class="pay">
            <% if @card %>
              <p class="font-12-light cc-detail-save">You already have a saved card. Continue with that, or replace it with a new card.</p>
              <ul class="select-card text-left">
                <li class="active">
                  <a href='javascript:void(0);' id='use-saved-card'>Use my existing card ending in <span class='card-last4'><%= @card.last4 %></span></a>
                </li>
                <li>
                  <a href='javascript:void(0);' id='add-new-card'>Add a new card</a>
                </li>
              </ul>
              <div class="old-card-info show">
                <div class="text-center">
                  <a href='javascript:void(0);' class="btn btn-pink btn-single btn-modal-open" id='confirm-saved-card' data-url='<%= businesses_subscription_path %>'>NEXT: INVITE USERS</a>
                  <p class="charge">We won't charge your card yet.</p>
                </div>
              </div>
            <% end %>
            <div class="new-card <%= @card ? 'hide' : 'show' %>">
              <div class='loading-image'>
                <%= image_tag('loader1.gif', class: 'load') %>
              </div>
              <span class='cc-errors'></span>
              <div class="row">
                <div class="form-group col-xs-12">
                  <input type="text" class="form-control default-input cc-number" placeholder="Card number">
                  <span class="cc-brand pull-right"></span>
                </div>
                <div class="form-group col-xs-6">
                  <input type="text" class="form-control default-input cc-exp" placeholder="MM / YY">
                </div>
                <div class="form-group col-xs-6">
                  <input type="password" class="form-control default-input cc-cvv" placeholder="CVV">
                </div>
                <div class="text-center col-xs-12">
                  <button type="submit" class="btn btn-pink btn-single" id="add-card">CONFIRM &amp; PAY</button>
                  <p class="charge">Your payment will be processed.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_include_tag('plan', 'toggle_class', 'payments', 'billing') %>
