<div role="tabpanel" class="tab-pane" id="team">
  <form class="settings-form">
    <div class="form-group">
      <div class="row">
        <% if current_user.is_admin %>
          <div class="col-xs-9">
            <div class="clearfix">
              <span class="icon-invite-female user-invite">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
                <span class="path5"></span>
              </span>
              <div class="right-text pull-right">
                <h3 class="team-member-name pink-text">Invite a team member to Timblee</h3>
                <span class="active-since">
                  <% if current_business.in_trial_period? %>
                  You’re currently in your free unlimited trial period. Invite as many team members as you want for no charge. After the trial, you’ll need to pay US $19 for the first user + US $12 for subsequent users.
                  <% else %>
                  Each new user is US $12 per month. You'll be billed pro-rata for this billing period once you invite them.
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        <div class="col-xs-3 text-right edit-info">
          <div class="edit">
            <% if current_business.is_starter_plan? && !current_business.in_trial_period? %>
                <a href="#invite-error-modal" data-toggle="modal" class="btn btn-pink invite-user-modal-link">Invite</a>
            <% else %>
              <% url = current_business.is_pro_plan? ? businesses_subscription_path : users_bulk_invitation_path %>
              <a data-toggle="modal" class="btn btn-pink invite-user-modal-link invite-link" data-url='<%= url %>'>Invite</a>
            <% end %>
          </div>
        </div>
        <% else %>
          <div class="col-xs-9">
            <div class="clearfix">
              <div class="right-text">
                <h3 class="team-member-name">Want to invite others to the team?</h3>
                <span class="active-since">Ask your team admins to either invite them or make you an admin.<br />Admins are shown below.</span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </form>
  <% current_business.users.each_with_index do |user, index|%>
    <form id="user_<%= user.id %>" class="settings-form <%= 'last' if (index + 1) == current_business.users.count %>" >
      <div class="form-group">
        <% if user.active? %>
          <div class="row">
            <div class="col-xs-9">
              <div class="clearfix">
                <%= image_tag('profile-image.png', class: 'profile-image pull-left') %>
                <div class="right-text pull-right">
                  <h3 class="team-member-name"><%= user.full_name %></h3>
                  <span class="active-since">Active user since <%= pretty_time(user.invitation_accepted_at || user.created_at) %></span>
                </div>
              </div>
            </div>
            <% if current_user.is_admin && current_user != user %>
              <div class="col-xs-3 text-right edit-info">
                <div class="edit">
                  <%= link_to "Edit", edit_admin_user_path(user), class: 'btn btn-grey' %>
                  <a href="#delete-user-modal" data-toggle="modal" class="link-regular btn-regular delete-user-modal-link" data-url= "<%= admin_user_path(user)%>" data-name="<%= user.full_name %>">Delete</a>
                </div>
              </div>

            <% elsif (!current_user.is_admin || current_user == user) && user.is_admin %>
              <div class="col-xs-3 relative">
                <div class="admin-dp text-right">
                  <%= image_tag('avatar_11.svg', class: 'admin-image') %>
                  <span>Admin</span>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="row inactive-user">
            <div class="col-xs-9">
              <div class="clearfix">
                <%= image_tag('profile-image.png', class: 'profile-image pull-left') %>
                <div class="right-text pull-right">
                  <h3 class="team-member-name"><%= user.email %></h3>
                  <span class="active-since">Invited on <%= pretty_time(user.invitation_created_at) %>. Hasn't accepted yet.</span>
                </div>
              </div>
            </div>
            <% if current_user.is_admin && user.id != current_user.id %>
              <div class="col-xs-3 text-right edit-info">
                <div class="edit">
                  <a href="javascript:void(0);" class=""></a>
                  <%= link_to "Invite Again", re_invite_user_path(user), class: "btn btn-grey", remote: true %>
                  <a href="#revoke-invite-modal" data-toggle="modal" class="link-regular btn-regular">Revoke Invite</a>
                  <%= render 'users/revoke_invite_modal', user: user %>
                </div>
              </div>

            <% end %>
          </div>
        <% end %>

      </div>
    </form>
  <% end %>

</div>
<%= render 'users/invite_error_modal'%>
<%= javascript_include_tag('invitations', 'delete_user', 'team') %>
