<div class='sitemap-progress'>
  <h1 class="page-heading">
    Progress
  </h1>
  <p class="page-text">
    See where each sitemap is via the progress boards. Just drag and drop <br> sitemap cards to change their status.
  </p>

  <div class="progress-cards">

    <div class="drag-me drop_container" id="on-hold" data-state='on_hold'>
      <div class="drag-header text-center">
        <h1>On Hold</h1>
        <p class="sitemap-count" data-count=<%= @sitemaps_by_state[:on_hold].length %>><%= pluralize(@sitemaps_by_state[:on_hold].length, 'Sitemap') %></p>
      </div>
      <div id="on-hold-holder" class="drag-div sitemap_container">
        <div class='empty-sitemap-holder <%= 'hidden' if @sitemaps_by_state[:on_hold].present? %>'>
          <%= image_tag('empty-state-container.svg', class: 'empty-state') %>
        </div>
        <% @sitemaps_by_state[:on_hold].each do |sitemap| %>
          <div class='drag-wrapper'>
            <div class="sitemap-card-small draggable_sitemap" data-id='<%= sitemap.id %>'>
              <% if sitemap.comments.exists? %>
                <span class="state"></span>
              <% end %>
              <span class="card-name"><%= sitemap.name.truncate(Sitemap::LENGTH_TO_TRUNCATE) %></span>
              <span class="last-updated">Last updated <%= pretty_time(sitemap.updated_at) %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="drag-me-bar"></div>

    <div class="drag-me drop_container" id="in-progress" data-state='in_progress'>
      <div class="drag-header text-center">
        <h1>In Progress</h1>
        <p class="sitemap-count" data-count=<%= @sitemaps_by_state[:in_progress].length %>><%= pluralize(@sitemaps_by_state[:in_progress].length, 'Sitemap') %></p>
      </div>
      <div id="in-progress-holder" class="drag-div sitemap_container">
        <div class='empty-sitemap-holder <%= 'hidden' if @sitemaps_by_state[:in_progress].present? %>'>
          <%= image_tag('empty-state-container.svg', class: 'empty-state') %>
        </div>
        <% @sitemaps_by_state[:in_progress].each do |sitemap| %>
          <div class='drag-wrapper'>
            <div class="sitemap-card-small draggable_sitemap" data-id='<%= sitemap.id %>'>
              <% if sitemap.comments.exists? %>
                <span class="state"></span>
              <% end %>
              <span class="card-name"><%= sitemap.name.truncate(Sitemap::LENGTH_TO_TRUNCATE) %></span>
              <span class="last-updated">Last updated <%= pretty_time(sitemap.updated_at) %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="drag-me-bar"></div>

    <div class="drag-me drop_container" id="review" data-state='in_review'>
      <div class="drag-header text-center">
        <h1>Review</h1>
        <p class="sitemap-count" data-count=<%= @sitemaps_by_state[:in_review].length %>><%= pluralize(@sitemaps_by_state[:in_review].length, 'Sitemap') %></p>
      </div>
      <div id="review-holder" class="drag-div sitemap_container">
        <div class='empty-sitemap-holder <%= 'hidden' if @sitemaps_by_state[:in_review].present? %>'>
          <%= image_tag('empty-state-container.svg', class: 'empty-state') %>
        </div>
        <% @sitemaps_by_state[:in_review].each do |sitemap| %>
          <div class='drag-wrapper'>
            <div class="sitemap-card-small draggable_sitemap" data-id='<%= sitemap.id %>'>
              <% if sitemap.comments.exists? %>
                <span class="state"></span>
              <% end %>
              <span class="card-name"><%= sitemap.name.truncate(Sitemap::LENGTH_TO_TRUNCATE) %></span>
              <span class="last-updated">Last updated <%= pretty_time(sitemap.updated_at) %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="drag-me-bar"></div>

    <div class="drag-me drop_container" id="approved" data-state='approved'>
      <div class="drag-header text-center">
        <h1>Approved</h1>
        <p class="sitemap-count" data-count=<%= @sitemaps_by_state[:approved].length %>><%= pluralize(@sitemaps_by_state[:approved].length, 'Sitemap') %></p>
      </div>
      <div id="approved-holder" class="drag-div sitemap_container">
        <div class='empty-sitemap-holder <%= 'hidden' if @sitemaps_by_state[:approved].present? %>'>
          <%= image_tag('empty-state-container.svg', class: 'empty-state') %>
        </div>
        <% @sitemaps_by_state[:approved].each do |sitemap| %>
          <div class='drag-wrapper'>
            <div class="sitemap-card-small draggable_sitemap" data-id='<%= sitemap.id %>'>
              <% if sitemap.comments.exists? %>
                <span class="state"></span>
              <% end %>
              <span class="card-name"><%= sitemap.name.truncate(Sitemap::LENGTH_TO_TRUNCATE) %></span>
              <span class="last-updated">Last updated <%= pretty_time(sitemap.updated_at) %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>

</div>

<%= javascript_include_tag('progress') %>
