<div class='site-map-progress'>
  <h1 class="page-heading">
    Progress
  </h1>
  <p class="page-text">
    See where each sitemap is via the progress boards. Just drag and drop <br> sitemap cards to change their status.
  </p>

  <div class="progress-cards">

    <div class="drag-me" id="on-hold">
      <div class="drag-header text-center">
        <h1>On Hold</h1>
        <p class="site-map-count" data-count=<%= @site_maps_by_state[:on_hold].length %>><%= @site_maps_by_state[:on_hold].length %> Sitemaps</p>
      </div>
      <div id="on-hold-holder" class="drag-div drop_container" data-state='on_hold'>
        <% @site_maps_by_state[:on_hold].each do |site_map| %>
          <div class='drag-wrapper'>
            <div class="sitemap-card-small draggable_site_map" data-id='<%= site_map.id %>'>
              <span class="state"></span>
              <span class="card-name"><%= site_map.name.truncate(SiteMap::LENGTH_TO_TRUNCATE) %></span>
              <span class="last-updated">Last updated</span>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="drag-me-bar"></div>

    <div class="drag-me" id="in-progress">
      <div class="drag-header text-center">
        <h1>In Progress</h1>
        <p class="site-map-count" data-count=<%= @site_maps_by_state[:in_progress].length %>><%= @site_maps_by_state[:in_progress].length %> Sitemaps</p>
      </div>
      <div id="in-progress-holder" class="drag-div drop_container" data-state='in_progress'>
        <% @site_maps_by_state[:in_progress].each do |site_map| %>
          <div class='drag-wrapper'>
            <div class="sitemap-card-small draggable_site_map" data-id='<%= site_map.id %>'>
              <span class="state"></span>
              <span class="card-name"><%= site_map.name.truncate(SiteMap::LENGTH_TO_TRUNCATE) %></span>
              <span class="last-updated">Last updated</span>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="drag-me-bar"></div>

    <div class="drag-me" id="review">
      <div class="drag-header text-center">
        <h1>Review</h1>
        <p class="site-map-count" data-count=<%= @site_maps_by_state[:in_review].length %>><%= @site_maps_by_state[:in_review].length %> Sitemaps</p>
      </div>
      <div id="review-holder" class="drag-div drop_container" data-state='in_review'>
        <% @site_maps_by_state[:in_review].each do |site_map| %>
          <div class='drag-wrapper'>
            <div class="sitemap-card-small draggable_site_map" data-id='<%= site_map.id %>'>
              <span class="state"></span>
              <span class="card-name"><%= site_map.name.truncate(SiteMap::LENGTH_TO_TRUNCATE) %></span>
              <span class="last-updated">Last updated</span>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="drag-me-bar"></div>

    <div class="drag-me" id="approved">
      <div class="drag-header text-center">
        <h1>Approved</h1>
        <p class="site-map-count" data-count=<%= @site_maps_by_state[:approved].length %>><%= @site_maps_by_state[:approved].length %> Sitemaps</p>
      </div>
      <div id="approved-holder" class="drag-div drop_container" data-state='approved'>
        <% @site_maps_by_state[:approved].each do |site_map| %>
          <div class='drag-wrapper'>
            <div class="sitemap-card-small draggable_site_map" data-id='<%= site_map.id %>'>
              <span class="state"></span>
              <span class="card-name"><%= site_map.name.truncate(SiteMap::LENGTH_TO_TRUNCATE) %></span>
              <span class="last-updated">Last updated</span>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>

</div>

<%= javascript_include_tag('progress') %>
