<section class="settings">
  <h1>Settings</h1>
  
  <!-- Settings -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#my-info" aria-controls="my-info" role="tab" data-toggle="tab">My info</a></li>
    <li role="presentation"><a href="#team" aria-controls="team" role="tab" data-toggle="tab">Team</a></li>
    <li role="presentation"><a href="#personalization" aria-controls="personalization" role="tab" data-toggle="tab">Personalization</a></li>
    <li role="presentation"><a href="#billing" aria-controls="billing" role="tab" data-toggle="tab">Billing</a></li>
  </ul>

  <!-- Settings Tab Content -->
  <div class="tab-content">
    <%= render 'users/my_info_tab' %>
    <%= render 'users/team_tab' %>
    <% if current_user.is_admin? %>
      <%= render 'users/personalization_tab' %>
      <%= render 'users/billing_tab' %>
    <% end %>
  </div>
</section>
<%= render 'users/delete_user_modal' %>
<%= render 'users/invite_user_modal' %>
<%= render 'users/invite_email_preview_modal' %>
