<section class="settings">
  <!-- Settings -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#my-info" aria-controls="my-info" role="tab" data-toggle="tab">My info</a></li>
    <li role="presentation"><a href="#team" aria-controls="team" role="tab" data-toggle="tab">Team</a></li>
    <li role="presentation"><a href="#personalization" aria-controls="personalization" role="tab" data-toggle="tab">Personalization</a></li>
    <li role="presentation"><a href="#billing" aria-controls="billing" role="tab" data-toggle="tab">Billing</a></li>
  </ul>

  <!-- Settings Tab Content -->
  <div class="tab-content">
    <!-- My Info Tab -->
    <div role="tabpanel" class="tab-pane active" id="my-info">
      <%= form_for current_user, url: registration_path(current_user), html: { class: 'settings-form' } do |f| %>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-6">
              <label>Your name</label>
              <%= f.text_field :full_name, disabled: true, class: 'editable-input' %>
            </div>
            <div class="col-xs-6 text-right edit-info">
              <div class="edit">
                <a href="javascript:void(0);" class="btn btn-grey btn-edit">Edit</a>
              </div>
              <div class="save">
                <button type="submit" class="btn btn-pink">Save</button>
                <a href="javascript:void(0);" class="btn btn-grey btn-cancel">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <%= form_for current_user, url: registration_path(current_user), html: { class: 'settings-form' } do |f| %>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-6">
              <label>Your email</label>
              <%= f.text_field :email, disabled: true, class: 'editable-input' %>
              <% unless current_user.confirmed? %>
                <span>(You need to verify this email)</span>
              <% end %>
              <% if current_user.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= current_user.unconfirmed_email %></div>
              <% end %>
            </div>
            <div class="col-xs-6 text-right edit-info">
              <div class="edit">
                <a href="javascript:void(0);" class="btn btn-grey btn-edit">Edit</a>
                <a href="javascript:void(0);" class="resend">Resend verification email</a>
              </div>
              <div class="save">
                <button type="submit" class="btn btn-pink">Save</button>
                <a href="javascript:void(0);" class="btn btn-grey btn-cancel">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <%= form_for current_user, url: update_password_users_path, html: { class: 'settings-form', method: :patch } do |f| %>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-6">
              <label>Your password</label>
              <%= f.password_field :password, disabled: true, class: 'editable-input', placeholder: '********' %>
            </div>
            <div class="col-xs-6 text-right edit-info">
              <div class="edit">
                <a href="javascript:void(0);" class="btn btn-grey btn-edit">Edit</a>
              </div>
              <div class="save">
                <button type="submit" class="btn btn-pink">Save</button>
                <a href="javascript:void(0);" class="btn btn-grey btn-cancel">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <!-- Static Avatar For Now -->
      <form class="settings-form">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-9">
              <label>Your image</label>
              <div class="clearfix m-t-15">
                <%= image_tag('profile-image.png', class: 'profile-image pull-left') %>
                <div class="right-text pull-right">
                  <p class="pull-right">Helps you better collaborate with clients &amp; co-workers by making your notifications and comments more personal since it will include your image. We highly recommend it.</p>
                </div>
              </div>
            </div>
            <div class="col-xs-3 text-right edit-info">
              <div class="edit">
                <a href="javascript:void(0);" class="btn btn-grey">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- Static Avatar For Now -->

      <div class="notification">
        <label>Notification</label>
        <div class="row">
          <div class="col-xs-9">
            <h4>Email notifications</h4>
            <p>We'll email you when someone comments on a sitemap you're part of. Comments added in a 10 minute period are grouped into one email. If you switch this off, you'll see notifications only when you log in.</p>
          </div>
          <div class="col-xs-3">
            <div class="wrapper clearfix">
              <input type="checkbox" name="toggle" id="toggle" checked="">
              <label for="toggle" class="pull-right"></label>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- My Info Tab End -->

    <div role="tabpanel" class="tab-pane" id="team">

      <form class="settings-form">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-9">
              <div class="clearfix">
                <%= image_tag('profile-image.png', class: 'profile-image pull-left') %>
                <div class="right-text pull-right">
                  <h3 class="team-member-name">Invite a team member to Timblee</h3>
                  <span class="active-since">Each new user is US $12 per month. You'll be billed pro-rata for this billing period once you invite them.</span>
                </div>
              </div>
            </div>
            <div class="col-xs-3 text-right edit-info">
              <div class="edit">
                <a href="javascript:void(0);" class="btn btn-pink new-invitation-link">Invite</a>
              </div>
            </div>
          </div>
        </div>
      </form>
      <% current_business.users.each_with_index do |user, index|%>
        <form class="settings-form <%= 'last' if (index + 1) == current_business.users.count %>" >
          <div class="form-group">
            <% if user.active? %>
              <div class="row">
                <div class="col-xs-9">
                  <div class="clearfix">
                    <%= image_tag('profile-image.png', class: 'profile-image pull-left') %>
                    <div class="right-text pull-right">
                      <h3 class="team-member-name"><%= user.full_name.titleize %></h3>
                      <span class="active-since">Active user since <%= pretty_time(user.invitation_accepted_at || user.created_at) %></span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-3 text-right edit-info">
                  <div class="edit">
                    <a href="javascript:void(0);" class="btn btn-grey">Edit</a>
                    <a href="#delete-user-modal" data-toggle="modal" class="link-regular btn-regular">Delete</a>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="row">
                <div class="col-xs-9">
                  <div class="clearfix">
                    <%= image_tag('profile-image.png', class: 'profile-image pull-left') %>
                    <div class="right-text pull-right">
                      <h3 class="team-member-name"><%= user.email %></h3>
                      <span class="active-since">Invited_on <%= pretty_time(user.invitation_created_at) %>Hasn't accepted yet</span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-3 text-right edit-info">
                  <div class="edit">
                    <a href="javascript:void(0);" class="btn btn-grey">Edit</a>
                    <a href="javascript:void(0);" class="btn btn-grey">Invite Again</a>
                    <a href="#delete-user-modal" data-toggle="modal" class="link-regular btn-regular">Revoke Invite</a>
                  </div>
                </div>
              </div>
            <% end %>

          </div>
        </form>
      <% end %>


    </div>

    <div role="tabpanel" class="tab-pane" id="personalization">

    </div>

    <div role="tabpanel" class="tab-pane" id="billing">

    </div>

  </div>
</section>
<% render 'users/delete_user_modal' %>

<%= render 'users/send_invitation_modal' %>
<%= javascript_include_tag('invitation_modal') %>

