<div class='modal fade' id='create_sitemap_modal' tabindex='-1' role='dialog' aria-labelledby='create_sitemap_modalLabel'>

  <div class='modal-dialog' role='document'>
    <div class='modal-content'>

      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <h4 class='modal-title' id='create_sitemap_modalLabel'>Enter name</h4>
      </div>

      <div class='modal-body'>
        <div class='form'>

          <%= form_for Sitemap.new do |f| %>
            <div class='form-group'>
              <%= f.label :name %>*<br />
              <%= f.hidden_field :folder_id, class: 'sitemap-hidden-folder-id' %>
              <%= f.text_field :name, autofocus: true, required: true %>
              <span class='help-inline alert-danger'><%= f.object.errors[:name].join(',') %></span>
            </div>
            <div class='actions'>
              <%= f.submit %>
            </div>

          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>
