<section class="expiring-header">
  <!-- Admin User Banner Content -->
  <div class="clearfix">
    <div class="pull-left">
      <p> <%= image_tag('scary-emoji.png') %>
      Your free trial is over. Please enter your billing info. Unlimited sitemaps are only $19 per month for one user.</p>
    </div>
    <div class="pull-right text-right">
      <a href="#" class="btn btn-grey btn-pink">Add Billing info</a>
      <a href="#" class="btn btn-grey">Downgrade</a>
    </div>
  </div>
  <!-- Admin User Banner Content -->

  <!-- Standard User Banner Content -->
  <!-- <div class="clearfix">
    <div class="pull-left">
      <p> <%= image_tag('scary-emoji.png') %>
      Your free trial finishes in 10 days on 9 Dec 2016. Please add billing information now for uninterrupted access.</p>
    </div>
    <div class="pull-right text-right">
      <a href="#" class="btn btn-grey btn-white">Add billing info</a>
      <a href="#">
        <span class="icon icon-close"></span>
      </a>
    </div>
  </div> -->
  <!-- Standard User Banner Content -->
</section>

<header class="main-header">
  <div class="row">
    <div class="col-xs-7">
      <div class="row">
        <div class="col-xs-12">
          <ul id="navigation" class="clearfix p-0 m-0">
            <li class="nav-item logo">
              <%= link_to image_tag('Timblee-logo.svg', class: 'logo-main'), home_dashboard_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'Home', home_dashboard_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'Progress', progress_users_path %>
            </li>
            <li class="nav-item", id='jump-to', tabindex="3">
              <a href="javascript:void(0);">
                Jump to
                <span class="icon-caret"></span>
              </a>
              <%= form_tag sitemaps_path, method: :get, id: 'search-sitemap-form', enforce_utf8: false do %>
                <span class="icon-search"></span>
                <%= text_field_tag "sitemap_params", nil, id: 'search-sitemap', data: { source: current_user.all_sitemaps.map {|s| {label: s.name, value: s.id}} }, placeholder: 'Search for sitemaps', autocomplete: 'on' %>
              <% end %>
            </li>
            <%- if current_user_without_proxy_login.try(:is_super_admin) || proxy_login? %>
              <li class="nav-item">
                <%= link_to 'Switch Account', admin_dashboard_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-5 p-r-5">
      <div class="user-dropdown pull-right text-right">
        <span class="truncate">
          <%= image_tag(current_user.avatar, class: 'profile-image') %>
          <%= current_user.first_name %>
        </span>
        <span class="icon-caret"></span>
        <ul class="p-0 m-0 user-settings">
          <li>
            <%= link_to settings_users_path do %>
              <span class="icon-settings"></span> Settings
            <% end %>
          </li>
          <li>
            <a class='get-in-touch' href="javascript:void(0)" data-user-email="<%= current_user.email %>">
              <span class="icon-conversation"></span>
              Ask us anything
            </a>
          </li>
          <li class="hide">
            <a href="javascript:void(0)">
              <span class="icon-heart"></span>
              Gift someone a 60 day trial
            </a>
          </li>
          <li>
            <a href="https://timblee.io/feature-request" target='blank'>
              <span class="icon-wand"></span>
              Request a feature
            </a>
          </li>
          <li>
            <a href="https://timblee.io/early-adopters" target='blank'>
              <span class="icon-binoculars"></span>
              Join our early adopters program
            </a>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="icon-logout"></span>
              Log out
            <% end %>
          </li>
        </ul>
      </div>
      <div class="gift pull-right header-links hide last">
        <a href="#">
          <span class="icon-heart"></span>
        </a>
      </div>
      <div class="notifications-tab pull-right header-links">
        <a href="javascript:void(0);">
          <span class="icon-bell"></span>
        </a>
        <% url = load_more_notifications_path %>
        <ul class="p-0 m-0 notifications-listing", data-offset = '0', data-url= <%= url %> data-has-more= <%= @has_more %>>

          <%= render partial: 'notifications/notification', collection: @notifications %>

          <div class='loading-image'>
            <%#= image_tag('loader1.gif', class: 'load') %>
          </div>
        </ul>
      </div>
      <div class="add-sitemap-tab pull-right header-links new-sitemap">
        <% if current_business.account_locked?%>
          <a href=<%= billing_settings_users_path %>>
            <span class="cus-icon-add"></span> <br>
          </a>
        <% else %>
          <%= form_for Sitemap.new do |f| %>
            <%= f.hidden_field :folder_id %>
            <a href="javascript:void(0);" class="new-sitemap-link" data-allow-more-sitemaps= "<%= current_business.allow_more_sitemaps %>">
              <span class="cus-icon-add"></span> <br>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</header>
<div class="hide business-info" data-business-id="<%=current_business.id%>"></div>
<%= javascript_include_tag('sitemaps', 'jump_to', 'notification', 'invitations', 'team', 'intercom') %>

<%= render 'sitemaps/sitemap_error_modal'%>
<%= render 'sitemaps/sitemap_warning_modal'%>
<!-- Choose Plan Modal -->
<%= render 'users/choose_plan_modal' %>

<!-- Pro Plan Modal -->
<%= render 'users/pro_plan_modal' %>

<!-- Starter Plan Modal -->
<%= render 'users/starter_plan_modal' %>
<%= render 'users/starter_error_modal'%>


<%= render 'users/invite_user_modal' %>
<%= render 'users/invite_user_preview_modal' %>


<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.4.3/jquery.payment.min.js"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('<%= STRIPE_PUBLISHABLE_KEY %>');
</script>
