<header class="main-header">
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12">
          <ul id="navigation" class="clearfix p-0 m-0">
            <li class="nav-item logo">
              <%= link_to image_tag('Timblee-logo.svg', class: 'logo-main'), home_dashboard_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'Home', home_dashboard_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'Progress', progress_users_path %>
            </li>
            <li class="nav-item"><a href="javascript:void(0);">Jump to</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-6 p-r-5">
      <div class="user-dropdown pull-right text-right">
        <span class="truncate">
          <%= current_user.full_name %>
        </span>
        <span class="icon-caret"></span>
        <ul class="p-0 m-0 user-settings">
          <li>
            <%= link_to settings_users_path do %>
              <span class="icon-settings"></span> Settings
            <% end %>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="icon-conversation"></span>
              Ask us anything
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="icon-heart"></span>
              Gift someone a 60 day trial
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="icon-wand"></span>
              Request a feature
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="icon-binoculars"></span>
              Join our early adopters program
            </a>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="icon-logout"></span>
              Log out
            <% end %>
          </li>
        </ul>
      </div>
      <div class="gift pull-right header-links last">
        <a href="#">
          <span class="icon-heart"></span>
        </a>
      </div>
      <div class="notifications-tab pull-right header-links">
        <a href="#">
          <span class="icon-bell"></span>
        </a>
      </div>
      <div class="add-sitemap-tab pull-right header-links new-sitemap">
        <a href="javascript:void(0);" class="new-sitemap-link" data-allow-more-sitemaps= "<%= current_business.allow_more_sitemaps? ? 'true' : 'false' %>">
          <span class="icon-add"></span> <br>
        </a>
      </div>
    </div>
  </div>
</header>
