<header class="main-header">
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12">
          <ul id="navigation" class="clearfix p-0 m-0">
            <li class="nav-item logo">
              <%= link_to image_tag('Timblee-logo.svg', class: 'logo-main'), home_dashboard_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'Home', home_dashboard_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'Progress', progress_users_path %>
            </li>
            <li class="nav-item", id='jump-to', tabindex="3">
              <a href="javascript:void(0);">
                Jump to
                <span class="icon-caret"></span>
              </a>
              <%= form_tag sitemaps_path, method: :get, id: 'search-sitemap-form', enforce_utf8: false, class: 'hide' do %>
                <span class="icon-search"></span>
                <%= text_field_tag "sitemap_params", nil, id: 'search-sitemap', data: { source: current_business.sitemaps.map {|s| {label: s.name, value: s.id}} }, placeholder: 'Search for sitemaps', autocomplete: 'on' %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-6 p-r-5">
      <div class="user-dropdown pull-right text-right">
        <span class="truncate">
          <%= image_tag(current_user.avatar, class: 'profile-image') %>
          <%= current_user.full_name %>
        </span>
        <span class="icon-caret"></span>
        <ul class="p-0 m-0 user-settings">
          <li>
            <%= link_to settings_users_path do %>
              <span class="icon-settings"></span> Settings
            <% end %>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="icon-conversation"></span>
              Ask us anything
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="icon-heart"></span>
              Gift someone a 60 day trial
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="icon-wand"></span>
              Request a feature
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="icon-binoculars"></span>
              Join our early adopters program
            </a>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="icon-logout"></span>
              Log out
            <% end %>
          </li>
        </ul>
      </div>
      <div class="gift pull-right header-links last">
        <a href="#">
          <span class="icon-heart"></span>
        </a>
      </div>
      <div class="notifications-tab pull-right header-links">
        <div class="user-dropdown pull-right text-right">
          <span class="truncate">
            <span class="icon-bell"></span>
          </span>
          <ul class="p-0 m-0 user-settings">
            <% current_user.notifications.order(created_at: :desc).limit(10).each do |notification|%>
              <li>
                <%= image_tag(notification.user.avatar, class: 'profile-image') %>
                <%= link_to "#{notification.message}", notification.link_to %>
                <%= time_ago_in_words(notification.created_at) + ' ago' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="add-sitemap-tab pull-right header-links new-sitemap">
        <%= form_for Sitemap.new do |f| %>
          <%= f.hidden_field :folder_id %>
          <a href="javascript:void(0);" class="new-sitemap-link" data-allow-more-sitemaps= "<%= current_business.allow_more_sitemaps? ? 'true' : 'false' %>">
          <span class="cus-icon-add"></span> <br>
          </a>
        <% end %>
      </div>
    </div>
  </div>

</header>
<%= javascript_include_tag('sitemaps', 'jump_to') %>

<%= render 'sitemaps/sitemap_error_modal'%>
