<div class="col-xs-4 site-map-container" data-id=<%= site_map.id %> data-folder-id=<%= site_map.folder_id %>>
  <div class="site-card">
    <a href="javascript:void(0);" class="point"></a>
    <h2 class="card-name"><%= site_map.name %></h2>
    <p class="updated">Last updated <%= site_map.updated_at_formatted %></p>
    <p class="version">Version 1.0</p>
    <div class="actions">
      <ul class="card-users clearfix">
        <li>
          <%= image_tag('card-user.jpg') %>
        </li>
        <li>
          <%= image_tag('card-user.jpg') %>
        </li>
        <li>
          <%= image_tag('card-user.jpg') %>
        </li>
      </ul>
      <span class="other-users">+12</span>
    </div>
    <a href="javascript:void(0);" class="more-options">
      <%= image_tag('more-icon.png') %>
    </a>
    <div class="actions-overlay">
      <ul class="p-0 m-0">
        <li>
          <%= image_tag('more-icon.png', class: 'action-icon') %>
          <a href="javascript:void(0);" class="action">Dulpicate</a>
        </li>
        <li>
          <a href="javascript:void(0);" class="action">
            <span class="icon icon-edit-circle"></span>
            <span class="link-text">Rename</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" class="action">
            <span class="icon icon-invite-female">
              <span class="path1"></span>
              <span class="path2"></span>
              <span class="path3"></span>
              <span class="path4"></span>
              <span class="path5"></span>
            </span>
            <span class="link-text">Invite a team member</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" class="action">
            <span class="icon icon-share-circle"></span>
            <span class="link-text">Share</span>
          </a>
        </li>
        <li>
          <%= link_to site_map_path(site_map), method: :delete, remote: true, class: 'action' do %>
            <span class="icon icon-share-circle"></span>
            <span class="link-text">Delete</span>
          <% end %>
        </li>
      </ul>
      <a href="javascript:void(0);" class="close-action-overlay">
        <span class="icon icon-close"></span>
      </a>
    </div>
  </div>
</div>