<div class='col-xs-4 sitemap-outer-wrapper'>
  <div class='sitemap_wrapper'>
    <div class="sitemap-container" data-id=<%= sitemap.id %> data-folder-id=<%= sitemap.folder_id %>>
      <div class="site-card">
        <% if sitemap.comments.exists? %>
          <span class='state'></span>
        <% end %>
        <a href=<%= '/sitemaps/' + sitemap.id.to_s %> class='sitemap-link'>
          <h2 class="card-name"><%= sitemap.name.truncate(Sitemap::LENGTH_TO_TRUNCATE) %></h2>
          <p class="updated">Last updated <%= pretty_time(sitemap.updated_at) %></p>
        </a>
        <div class="actions">
          <ul class="card-users clearfix">
            <% sitemap.users.each_with_index do |user, index| %>
              <% break if index == 3 %>
              <li>
                <%= image_tag(user.avatar) %>
              </li>
            <% end %>
          </ul>
          <span class="other-users"><%= "+#{sitemap.users.count - 3}" if sitemap.users.count > 3 %></span>
        </div>
        <a href="javascript:void(0);" class="more-options">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <div class="actions-overlay" data-id=<%= sitemap.id %>>
          <ul class="p-0 m-0">
            <li>
              <a href="javascript:void(0);" class="action">
                <span class="icon icon-edit-circle"></span>
                <span class="link-text">Rename</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="action">
                <span class="icon icon-invite-female">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                  <span class="path4"></span>
                  <span class="path5"></span>
                </span>
                <span class="link-text">Invite a team member</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="action">
                <span class="icon icon-share-circle"></span>
                <span class="link-text">Share</span>
              </a>
            </li>
            <li>
              <%= link_to "#delete-sitemap-modal", 'data-toggle': 'modal', class: 'action delete-sitemap-modal-link', 'data-url': sitemap_path(sitemap), 'data-name': sitemap.name do %>
                <span class="icon icon-delete-circle"></span>
                <span class="link-text">Delete</span>
              <% end %>
            </li>
          </ul>
          <a href="javascript:void(0);" class="close-action-overlay">
            <span class="icon icon-close"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
