<section class="user-dashboard p-t-50">
  <div class="container">
    <div class="row">
      <aside class="folders col-xs-3 p-0">
        <%= form_for Folder.new, remote: true, html: { class: 'new-folder' } do |f| %>
          <div class="form-group">
          <%= f.text_field :name, class: "form-control new-folder-name-field", placeholder: "+ New Folder" %>
          </div>
        <% end %>
        <ul class="folders-list p-0 m-0">
          <li class="folder-info all-sitemap-folder active-delete" data-id=''>
            <a href="javascript:void(0);" class="delete-folder">
              <%= image_tag('cross.png') %>
            </a>
            <a href="javascript:void(0);" class='folder-info-block' data-name='All Sitemaps'>
              <span class="icon-all-folders"></span>
              <span class="folder-name">All projects</span>
              <span class="folder-items"><%= @sitemaps.count %></span>
            </a>
          </li>
          <div class='dynamic-folders-list'>
            <%= render partial: 'folder', collection: @folders %>
          </div>
        </ul>
      </aside>
      <div class="sitemap-cards col-xs-9 p-0">
        <h1 class='folder-heading'>All Projects</h1>

        <div class="dashboard-search">
          <span class="search-inner">
            <input type='search' id='search-sitemap' class='search-sitemap' placeholder="Search Sitemaps" />
            <span class="icon-search"></span>
          </span>
        </div>

        <div class="row p-t-40">
          <div class="col-xs-4 sitemap-container new-sitemap">
            <% if current_business.account_locked?%>
              <a href="<%= billing_settings_users_path %>" class="site-card new_sitemap_link">
                <span class="cus-icon-add"></span> <br>
                New Sitemap
              </a>
            <% else %>
              <%= form_for Sitemap.new do |f| %>
                <%= f.hidden_field :folder_id %>
                <%= render 'sitemaps/new_sitemap'%>
              <% end %>
            <% end %>
          </div>
          <div class='sitemaps-listing'>
            <%= render partial: 'sitemap', collection: @sitemaps %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'folders/delete_folder_modal' %>
  <%= render 'sitemaps/delete_sitemap_modal' %>
</section>
<%= javascript_include_tag('moreOptions', 'folders', 'delete_sitemap', 'duplicate') %>
<%= javascript_include_tag('rename_sitemap', 'invitations', 'team') %>
<%= render 'users/invite_error_modal'%>
<%= render 'users/invite_warning_modal'%>
<%= render 'sitemaps/sitemap_share_modal' %>
<%= render 'users/sitemap_share_preview_modal' %>
