<% if current_user %>
  <section class="user-dashboard p-t-50">
    <div class="container">
      <div class="row">
        <aside class="folders col-xs-3 p-0">
          <%= form_for Folder.new, remote: true, html: { class: 'new-folder' } do |f| %>
            <div class="form-group">
            <%= f.text_field :name, class: "form-control new-folder-name-field", placeholder: "+ New Folder" %>
            </div>
          <% end %>
          <ul class="folders-list p-0 m-0">
            <li class="folder-info all-site-map-folder">
              <a href="javascript:void(0);" class="delete-folder">
                <%= image_tag('cross.png') %>
              </a>
              <a href="javascript:void(0);" class='folder-info-block' data-name='All Sitemaps'>
                <span class="icon-all-folders"></span>
                <span class="folder-name">All sitemaps</span>
                <span class="folder-items"><%= @site_maps.count %></span>
              </a>
            </li>
            <div class='dynamic-folders-list'>
              <%= render partial: 'folder', collection: @folders %>
            </div>
          </ul>
        </aside>
        <div class="sitemap-cards col-xs-9 p-0">
          <h1 class='folder-heading'>All Sitemaps</h1>
          <div class="row p-t-40">
            <div class="col-xs-4 site-map-container new-site-map">
              <a href="javascript:void(0);" class="site-card new-site-map-link">
                <span class="icon-add"></span> <br>
                New Sitemap
              </a>
            </div>
            <div class='site_maps-listing'>
              <%= render partial: 'site_map', collection: @site_maps %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'site_maps/create_site_map_modal' %>
  <%= render 'folders/delete_folder_modal' %>
  <%= render 'delete_site_map_modal' %>
  <%= javascript_include_tag('moreOptions', 'folders', 'site_maps') %>
<% end %>
