<% if current_user %>
  <section class="user-dashboard p-t-50">
    <div class="container">
      <div class="row">
        <aside class="folders col-xs-3 p-0">
          <%= form_for Folder.new, remote: true, html: { class: 'new-folder' } do |f| %>
            <div class="form-group">
            <%= f.text_field :name, class: "form-control new-folder-name-field", placeholder: "+ New Folder" %>
            </div>
          <% end %>
          <ul class="folders-list p-0 m-0">
            <li class="folder-info all-sitemap-folder active-delete" data-id=''>
              <a href="javascript:void(0);" class="delete-folder">
                <%= image_tag('cross.png') %>
              </a>
              <a href="javascript:void(0);" class='folder-info-block' data-name='All Sitemaps'>
                <span class="icon-all-folders"></span>
                <span class="folder-name">All sitemaps</span>
                <span class="folder-items"><%= @sitemaps.count %></span>
              </a>
            </li>
            <div class='dynamic-folders-list'>
              <%= render partial: 'folder', collection: @folders %>
            </div>
          </ul>
        </aside>
        <div class="sitemap-cards col-xs-9 p-0">
          <h1 class='folder-heading'>All Sitemaps</h1>
          <div class="row p-t-40">
            <div class="col-xs-4 sitemap-container new-sitemap">
              <%= form_for Sitemap.new do |f| %>
                <%= f.hidden_field :folder_id %>
                <%= render 'sitemaps/new_sitemap'%>
              <% end %>
            </div>
            <div class='sitemaps-listing'>
              <%= render partial: 'sitemap', collection: @sitemaps %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'folders/delete_folder_modal' %>
    <%= render 'sitemaps/delete_sitemap_modal' %>
    <%= render 'sitemaps/sitemap_error_modal'%>
  </section>
    <%= javascript_include_tag('moreOptions', 'folders', 'delete_sitemap') %>
<% end %>
