<div class='sitemap-progress'>
  <h1 class="page-heading">
    Progress
  </h1>
  <p class="page-text">
    See where each sitemap is via the progress boards. Just drag and drop <br> sitemap cards to change their status.
  </p>

  <div class="progress-cards">

    <div class="drag-me" id="on-hold">
      <div class="drag-header text-center">
        <h1>On Hold</h1>
        <p class="sitemap-count">4 Sitemaps</p>
      </div>
      <div id="on-hold-holder" class="drag-div dragula_container">
        <div class="sitemap-card-small"><%= image_tag('profile-image.png', class: 'profile-image') %>ahjashasdhkasb</div>
        <div class="sitemap-card-small"><%= image_tag('profile-image.png', class: 'profile-image') %>ahjashasdhkasb</div>
        <div class="sitemap-card-small"><%= image_tag('profile-image.png', class: 'profile-image') %>ahjashasdhkasb</div>
        <div class="sitemap-card-small"><%= image_tag('profile-image.png', class: 'profile-image') %>ahjashasdhkasb</div>
      </div>
    </div>

    <div class="drag-me-bar"></div>


    <div class="drag-me" id="in-progress">
      <div class="drag-header text-center">
        <h1>In Progress</h1>
        <p class="sitemap-count">4 Sitemaps</p>
      </div>
      <div id="in-progress-holder" class="drag-div dragula_container">
        <div class="sitemap-card-small"><%= image_tag('profile-image.png', class: 'profile-image') %>ahjashasdhkasb</div>
        <div class="sitemap-card-small"><%= image_tag('profile-image.png', class: 'profile-image') %>ahjashasdhkasb</div>
        <div class="sitemap-card-small"><%= image_tag('profile-image.png', class: 'profile-image') %>ahjashasdhkasb</div>
        <div class="sitemap-card-small"><%= image_tag('profile-image.png', class: 'profile-image') %>ahjashasdhkasb</div>
      </div>
    </div>

    <div class="drag-me-bar"></div>

    <div class="drag-me" id="review">
      <div class="drag-header text-center">
        <h1>Review</h1>
        <p class="sitemap-count">2 Sitemaps</p>
      </div>
      <div id="review-holder" class="drag-div dragula_container">
        <div class="sitemap-card-small"><%= image_tag('profile-image.png', class: 'profile-image') %>ahjashasdhkasb</div>
        <div class="sitemap-card-small"><%= image_tag('profile-image.png', class: 'profile-image') %>ahjashasdhkasb</div>
        <div class="sitemap-card-small"><%= image_tag('profile-image.png', class: 'profile-image') %>ahjashasdhkasb</div>
        <div class="sitemap-card-small"><%= image_tag('profile-image.png', class: 'profile-image') %>ahjashasdhkasb</div>
      </div>
    </div>

    <div class="drag-me-bar"></div>

    <div class="drag-me" id="approved">
      <div class="drag-header text-center">
        <h1>Approved</h1>
        <p class="sitemap-count">4 Sitemaps</p>
      </div>
      <div id="approved-holder" class="drag-div dragula_container">
        <div class="sitemap-card-small"><%= image_tag('profile-image.png', class: 'profile-image') %>ahjashasdhkasb</div>
        <div class="sitemap-card-small"><%= image_tag('profile-image.png', class: 'profile-image') %>ahjashasdhkasb</div>
        <div class="sitemap-card-small"><%= image_tag('profile-image.png', class: 'profile-image') %>ahjashasdhkasb</div>
        <div class="sitemap-card-small"><%= image_tag('profile-image.png', class: 'profile-image') %>ahjashasdhkasb</div>
      </div>
    </div>

  </div>

</div>

<%= javascript_include_tag('progress') %>
