
<%= render 'shared/userflow_header' %>
<%= render 'shared/comment_sidebar' %>
<%= render 'shared/userflow_comment_modal' %>
<% unless @sitemap.trial? %>
  <%= render 'users/sitemap_share_preview_modal' %>
  <%= render 'sitemaps/sitemap_share_modal' %>
  <%= render 'users/invite_error_modal'%>
  <%= render 'users/invite_warning_modal'%>
  <%= render 'users/invite_user_modal'%>
  <%= javascript_include_tag('invitations', 'team', 'sitemaps') %>
<% end %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.4.0/svg.min.js" type="text/javascript"></script>
    <%= stylesheet_link_tag    'flowchart' %>
    <%= javascript_include_tag 'flowchart', 'flowchart_extended' %>
    <div id="nodes" class="hide" data-screens= '<%= @screens%>'></div>

    <div class="link-on-message">
      Choose a screen, decision point or action to link the tiles.
    </div>

    <div class="default-screen-hover-options basic hide">
      <div class="clearfix">
        <div class="option option-1 initialScreenDropdown"> <!-- addInitialScreen -->
          <a href="javascript:void(0);" class="option-link">
            <%= image_tag("option-1.png") %>
          </a>
        </div>
        <div class="option option-2 addInitialDecision">
          <a href="javascript:void(0);" class="option-link">
            <%= image_tag("option-2.png", class: 'colored') %>
            <%= image_tag("decide-gray.png", class: 'grayscale') %>
          </a>
        </div>
        <div class="option option-3 addInitialAction">
          <a href="javascript:void(0);" class="option-link">
            <%= image_tag("option-3.png", class: 'colored') %>
            <%= image_tag("action-gray.png", class: 'grayscale') %>
          </a>
        </div>
      </div>
      <div class="starter-text hide">
        Choose a screen, decision point or action to start building this user <br> flow
      </div>
      <div class="add-initial-screen-dropdown hide">
        <form class="search-screen-form">
          <input type="text" name="" class="search-screen-input" placeholder="Search for a screen">
          <div class="dropdowns">
            <h4>Screens in the sitemap</h4>
            <ul class="screens-list in-sitemap">
              <% @sitemap_screens.each do |page|%>
                <li class="addInitialScreen page-id-<%=page.id%>" data-page="<%= page.to_json(include: :page_type) %>"><%= page.name %></li>
              <% end %>
            </ul>
            <h4 class="new-screens">New screens</h4>
            <ul class="screens-list">
              <% @page_types.each do |page_type|%>
              <li class="addInitialScreen" data-page="<%= page_type.pages.new(name: page_type.name).to_json(include: :page_type)%>"><%= page_type.name %></li>
              <% end %>
            </ul>
          </div>
        </form>
      </div>
    </div>

    <div id="tile-blueprint-action" class="linking-tile tile top-level">
      <div class="screen-tile-container action">

        <div class="screen-tile-svg-clone">
          <form class="edit-name-form">
            <input type="text" class="edit-name-field hide">
          </form>
          <div class="screen-type-text message">
            action
          </div>
          <div class="screen-tile-type">
            Action
          </div>
          <div class="screen-tile-right">
            <div class="screen-tile-right-icon">
              <%= image_tag("option-3.png") %>
            </div>
          </div>
          <div class="screen-tile-right-hover">
            <div class="right-options screen-tile-right-top">
              <a href="javascript:void(0);" class="right-option-link more">
                <%= image_tag("more.png", class: 'grey') %>
                <%= image_tag("more-pink.png", class: 'pink') %>
              </a>
            </div>
            <div class="right-options screen-tile-right-bottom">
              <a href="javascript:void(0);" class="right-option-link">
                <%= image_tag("comments.png", class: 'grey') %>
                <%= image_tag("comments-pink.png", class: 'pink') %>
              </a>
            </div>
          </div>
          <div class="screen-tile-more">
            <a href="javascript:void(0);" class="close-options"></a>
            <ul class="more-options-list clearfix">
              <li class="screen-comment-node">
                <span class="node-icon"></span>
                <span class="card-tooltip">Comments &amp; Notes</span>
              </li>
              <!-- <li class="screen-new-node">
                <span class="node-icon"></span>
                <span class="card-tooltip">New User Flow</span>
              </li> -->
              <li class="screen-delete-node">
                <span class="node-icon"></span>
                <span class="card-tooltip">Delete</span>
              </li>
            </ul>
          </div>
          <span class="link-to-this">Link to this</span>
        </div>
        <div class="screen-hover-options">
          <div class="option option-1 selectScreen">
            <a href="javascript:void(0);" class="option-link">
              <%= image_tag("option-1.png") %>
              <span class="card-tooltip">Screen</span>
            </a>
          </div>
          <div class="option option-2 addDecision">
            <a href="javascript:void(0);" class="option-link">
              <%= image_tag("option-2.png") %>
              <span class="card-tooltip">Decision Point</span>
            </a>
          </div>
          <div class="option option-3 addAction">
            <a href="javascript:void(0);" class="option-link">
              <%= image_tag("option-3.png") %>
              <span class="card-tooltip">Action</span>
            </a>
          </div>
          <div class="option option-4 addLink">
            <a href="javascript:void(0);" class="option-link">
              <%= image_tag("option-4.png") %>
              <span class="card-tooltip">Link</span>
            </a>
          </div>
          <div class="add-screen-dropdown hide">
            <form class="search-screen-form">
              <input type="text" name="" class="search-screen-input" placeholder="Search for a screen">
              <div class="dropdowns">
                <h4>Screens in the sitemap</h4>
                <ul class="screens-list in-sitemap">
                  <% @sitemap_screens.each do |page|%>
                    <li class="addScreen page-id-<%=page.id%>" data-page="<%= page.to_json(include: :page_type) %>"><%= page.name %></li>
                  <% end %>
                </ul>
                <h4 class="new-screens">New screens</h4>
                <ul class="screens-list">
                  <% @page_types.each do |page_type|%>
                  <li class="addScreen" data-page="<%= page_type.pages.new(name: page_type.name).to_json(include: :page_type)%>"><%= page_type.name %></li>
                  <% end %>
                </ul>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

    <div id="tile-blueprint-page" class="linking-tile tile top-level">
      <div class="screen-tile-container screen">

        <div class="screen-tile-svg-clone">
          <form class="edit-name-form">
            <input type="text" class="edit-name-field hide">
          </form>
          <div class="screen-type-text message">
          </div>
          <div class="screen-tile-type">
            <span class="screen-comment-indicator-"></span> <span class='uid'>ID:xxx</span>
          </div>
          <div class="screen-tile-right">
            <div class="screen-tile-right-icon tile-right">
            </div>
          </div>
          <div class="screen-tile-right-hover">
            <div class="right-options screen-tile-right-top">
              <a href="javascript:void(0);" class="right-option-link more">
                <%= image_tag("more.png", class: 'grey') %>
                <%= image_tag("more-pink.png", class: 'pink') %>
              </a>
            </div>
            <div class="right-options screen-tile-right-bottom">
              <a href="javascript:void(0);" class="right-option-link screen-comment-node">
                <%= image_tag("comments.png", class: 'grey') %>
                <%= image_tag("comments-pink.png", class: 'pink') %>
              </a>
            </div>
          </div>
          <div class="screen-tile-more">
            <a href="javascript:void(0);" class="close-options"></a>
            <ul class="more-options-list clearfix">
              <li class="screen-comment-node">
                <span class="node-icon"></span>
                <span class="card-tooltip">Comments &amp; Notes</span>
              </li>
              <!-- <li class="screen-change-node">
                <span class="node-icon"></span>
                <span class="card-tooltip">Change Screen Type</span>
              </li> -->
              <!-- <li class="screen-new-node">
                <span class="node-icon"></span>
                <span class="card-tooltip">New User Flow</span>
              </li> -->
              <li class="screen-delete-node">
                <span class="node-icon"></span>
                <span class="card-tooltip">Delete</span>
              </li>
            </ul>
          </div>
          <span class="link-to-this">Link to this</span>
        </div>

        <div class="screen-hover-options">
          <div class="option option-1 selectScreen">
            <a href="javascript:void(0);" class="option-link">
              <%= image_tag("option-1.png") %>
              <span class="card-tooltip">Screen</span>
            </a>
          </div>
          <div class="option option-2 addDecision">
            <a href="javascript:void(0);" class="option-link">
              <%= image_tag("option-2.png") %>
              <span class="card-tooltip">Decision Point</span>
            </a>
          </div>
          <div class="option option-3 addAction">
            <a href="javascript:void(0);" class="option-link">
              <%= image_tag("option-3.png") %>
              <span class="card-tooltip">Action</span>
            </a>
          </div>
          <div class="option option-4 addLink">
            <a href="javascript:void(0);" class="option-link">
              <%= image_tag("option-4.png") %>
              <span class="card-tooltip">Link</span>
            </a>
          </div>
          <div class="add-screen-dropdown hide">
            <form class="search-screen-form">
              <input type="text" name="" class="search-screen-input" placeholder="Search for a screen">
              <div class="dropdowns">
                <h4>Screens in the sitemap</h4>
                <ul class="screens-list in-sitemap">
                  <% @sitemap_screens.each do |page|%>
                    <li class="addScreen page-id-<%=page.id%>" data-page="<%= page.to_json(include: :page_type) %>"><%= page.name %></li>
                  <% end %>
                </ul>
                <h4 class="new-screens">New screens</h4>
                <ul class="screens-list">
                  <% @page_types.each do |page_type|%>
                  <li class="addScreen" data-page="<%= page_type.pages.new(name: page_type.name).to_json(include: :page_type)%>"><%= page_type.name %></li>
                  <% end %>
                </ul>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

    <div id="tile-blueprint-decision" class="linking-tile tile top-level">

      <div class="screen-tile-container decision">
        <div class="screen-tile-svg-clone">
          <form class="edit-name-form">
            <input type="text" class="edit-name-field hide">
          </form>
          <div class="screen-type-text message">
            decision
          </div>
          <div class="screen-tile-right">
            <div class="screen-tile-right-icon">
              <%= image_tag("option-2.png") %>
            </div>
          </div>
          <div class="screen-tile-right-hover">
            <div class="right-options screen-tile-right-top">
              <a href="javascript:void(0);" class="right-option-link more">
                <%= image_tag("more.png", class: 'grey') %>
                <%= image_tag("more-pink.png", class: 'pink') %>
              </a>
            </div>
            <div class="right-options screen-tile-right-bottom">
              <a href="javascript:void(0);" class="right-option-link">
                <%= image_tag("comments.png", class: 'grey') %>
                <%= image_tag("comments-pink.png", class: 'pink') %>
              </a>
            </div>
          </div>
          <div class="screen-tile-more">
            <a href="javascript:void(0);" class="close-options"></a>
            <ul class="more-options-list clearfix">
              <li class="screen-comment-node">
                <span class="node-icon"></span>
                <span class="card-tooltip">Comments &amp; Notes</span>
              </li>
              <!-- <li class="screen-new-node">
                <span class="node-icon"></span>
                <span class="card-tooltip">New User Flow</span>
              </li> -->
              <li class="screen-delete-node">
                <span class="node-icon"></span>
                <span class="card-tooltip">Delete</span>
              </li>
            </ul>
          </div>
          <span class="link-to-this">Link to this</span>

          <div class="screen-tile-type">
            Decision
          </div>
        </div>
        <span class="link-to-this">Link to this</span>
      </div>
    </div>

    <div id="tile-blueprint-conclusion" class="linking-tile tile top-level">
      <div class="screen-tile-rounded-container">
        <div class="screen-tile-container-rounded decisionLeftRight">
          <form class="edit-name-form">
            <input type="text" class="edit-name-field hide">
          </form>
          <div class="screen-tile-rounded-text message">
            Yes
          </div>
          <div class="screen-hover-options">
            <div class="option option-1 selectScreen">
              <a href="javascript:void(0);" class="option-link">
                <%= image_tag("option-1.png") %>
                <span class="card-tooltip">Screen</span>
              </a>
            </div>
            <div class="option option-2 addDecision">
              <a href="javascript:void(0);" class="option-link">
                <%= image_tag("option-2.png") %>
                <span class="card-tooltip">Decision Point</span>
              </a>
            </div>
            <div class="option option-3 addAction">
              <a href="javascript:void(0);" class="option-link">
                <%= image_tag("option-3.png") %>
                <span class="card-tooltip">Action</span>
              </a>
            </div>
            <div class="option option-4 addLink">
              <a href="javascript:void(0);" class="option-link">
                <%= image_tag("option-4.png") %>
                <span class="card-tooltip">Link</span>
              </a>
            </div>
            <div class="add-screen-dropdown hide">
              <form class="search-screen-form">
                <input type="text" name="" class="search-screen-input" placeholder="Search for a screen">
                <div class="dropdowns">
                  <h4>Screens in the sitemap</h4>
                  <ul class="screens-list in-sitemap">
                    <% @sitemap_screens.each do |page|%>
                      <li class="addScreen page-id-<%=page.id%>" data-page="<%= page.to_json(include: :page_type) %>"><%= page.name %></li>
                    <% end %>
                  </ul>
                  <h4 class="new-screens">New screens</h4>
                  <ul class="screens-list">
                    <% @page_types.each do |page_type|%>
                    <li class="addScreen" data-page="<%= page_type.pages.new(name: page_type.name).to_json(include: :page_type)%>"><%= page_type.name %></li>
                    <% end %>
                  </ul>
                </div>
              </form>
            </div>
          </div>
          <span class="link-to-this">Link to this</span>
        </div>
      </div>
    </div>

    <ul class="section-list clearfix flow-section">
      <% @sitemap.userflows.each do |userflow| %>
        <li class="sitemap-section-tab <%= @userflow == userflow ? 'active' : '' %>" style="width: <%= 94.0 / @sitemap.userflows.count %>%;">
          <span>
            <a data-toggle="modal" data-dismiss="modal" class="delete-userflow-modal-link" data-delete-userflow-path="<%= sitemap_userflow_path(@sitemap, userflow) %>" data-userflow-name="<%= userflow.name %>">
              <span class="remove-section">×</span>
            </a>
            <a data-toggle="modal" data-dismiss="modal" class="edit-userflow-name-modal-link" data-update-userflow-path="<%= sitemap_userflow_path(@sitemap, userflow) %>" data-userflow-name="<%= userflow.name %>">
            <span class="edit-section edit-userflow-name" data-userflow-id="<%= userflow.id %>" data-update-userflow-url="<%= sitemap_userflow_path(@sitemap, userflow) %>">
            </span>
            </a>
          </span>
          <a class="" href="<%= sitemap_userflow_path(@sitemap, userflow)%>">
            <span class="truncate">
              <input type="text" class="edit-field hide">
              <span class=''><%= userflow.name %></span>
            </span>
          </a>
        </li>

      <%end%>
      <li class="sitemap-section-tab new-userflow-btn">
        <%= link_to "+", sitemap_userflows_path(@sitemap), method: :post %>
      </li>
    </ul>
    <section id="flow-chart">
      <div id="tile-container">
      </div>
    </section>

  </body>
</html>
<%= render 'userflows/delete_userflow_modal'%>
<%= render 'userflows/edit_userflow_name_modal'%>
