<section class="settings">
  <!-- Settings -->

  <!-- Settings Tab Content -->
  <div>
    <h1>Settings</h1>
    <div>
      <section class="edit-user">
        <div class="link-with-border">
          <a href="javascript:void(0);">
            <span class="icon-caret"></span>
            <%= link_to "Back to all users", team_settings_users_path %>
          </a>
        </div>
        <%= form_for @user, url: admin_user_path(@user), html: { class: 'settings-form' } do |f| %>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-9">
                <div class="clearfix">
                  <%= image_tag('profile-image.png', class: 'profile-image pull-left') %>
                  <div class="right-text pull-right margin-top-small">

                    <h3 class="team-member-name">
                      <%= f.text_field :full_name, disabled: true, class: 'editable-input', 'data-original-value' => f.object.full_name %>
                    </h3>
                    <span class="active-since">Active user since <%= pretty_time(@user.invitation_accepted_at || @user.created_at) %></span>
                  </div>
                </div>
              </div>

              <div class="col-xs-3 text-right edit-info">
                <div class="edit">
                  <a href="javascript:void(0);" class="btn btn-grey btn-edit">Edit</a>
                  <a href="#delete-user-modal" data-toggle="modal" class="link-regular btn-regular delete-user-modal-link" data-url= "<%= admin_user_path(@user)%>" data-name="<%= @user.full_name %>">Delete</a>
                </div>
                <div class="save small">
                  <button type="submit" class="btn btn-pink">Save</button>
                  <a href="javascript:void(0);" class="btn btn-grey btn-cancel">Cancel</a>
                </div>
              </div>

            </div>
          </div>
        <% end %>

        <%= form_for @user, url: admin_user_path(@user), html: { class: 'settings-form' } do |f| %>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-6">
                <label>email</label>
                <%= f.text_field :email, disabled: true, class: 'editable-input', 'data-original-value' => f.object.email %>
              </div>
              <div class="col-xs-6 text-right edit-info">
                <div class="edit">
                  <a href="javascript:void(0);" class="btn btn-grey btn-edit">Edit</a>
                </div>
                <div class="save">
                  <button type="submit" class="btn btn-pink">Save</button>
                  <a href="javascript:void(0);" class="btn btn-grey btn-cancel">Cancel</a>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <%= form_for @user, url: send_reset_link_admin_user_path(@user), html: { class: 'settings-form', remote: true } do |f| %>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-9">
                <%= f.hidden_field :email %>
                <label>password</label>
                <p class="font-12-light">You can't view user passwords but you can override them since you're an admin.</p>
              </div>
              <div class="col-xs-3 text-right edit-info">
                <div class="edit">
                  <%= f.submit "Send reset link", class: 'btn btn-grey btn-input' %>
                  </div>
              </div>
            </div>
          </div>
        <% end %>

        <%= form_for @user, url: admin_user_path(@user), html: { class: 'settings-form' } do |f| %>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-9">
                <label>role</label>
                <p class="font-12-light"><%= @user.full_name.titleize %> has standard user access which allows editing and creating sitemaps but no user or account management settings. If you change a user’s role, we'll send them an email to let them know about their new superpowers (or not).</p>
              </div>

              <div class="col-xs-3 text-right edit-info">
                <div class="edit">
                  <a href="javascript:void(0);" class="btn btn-grey btn-edit">Edit</a>
                </div>
                <div class="save small">
                  <button type="submit" class="btn btn-pink">Save</button>
                  <a href="javascript:void(0);" class="btn btn-grey btn-cancel role-select-cancel">Cancel</a>
                </div>
              </div>
              <div class="col-xs-12 text-center user-roles-input" data-original-role=<%= f.object.is_admin? %>>
                <div class="role role-standard">
                  <%= f.radio_button :is_admin, false, checked: !f.object.is_admin, class: 'editable-input', disabled: true %>
                  <div class="cus-radio">
                    Standard
                  </div>
                </div>
                <div class="role role-admin">
                  <%= f.radio_button :is_admin, true, checked: f.object.is_admin, class: 'editable-input', disabled: true %>
                  <div class="cus-radio">
                    Admin
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if current_user.is_admin? %>
          <div class="access">
            <h4>Access</h4>
            <div class="row">
              <div class="col-xs-9">    
                <p>At this point, all standard and admin users have access to all sitemaps and folders in your Timblee account. We are working on introducing granular and folder-level permissions soon.</p>
                <a href="javascript:void(0);">Notify me when this feature is available.</a>
                <p class="m-t-35">Thanks! We’ve noted your interest in this feature and will send you a note to your email <%= current_user.email %> when it’s ready [smiley face emoji].</p>
              </div>
            </div>
          </div>
        <% end %>
      </section>

    </div>

  </div>
</section>
<%= render 'users/delete_user_modal' %>
<%= javascript_include_tag('delete_user') %>

