<!-- Sign Up Page for invited users -->
<main class="main">
  <section class="user-entry">
    <div class="panel">
      <div class="panel-body text-center">
        <div class="logo">
          <%= image_tag('Timblee-icon.svg', class: 'logo-inner') %>
        </div>
        <h1 class="modal-heading">
          Try Timblee free for 30 days and create beautiful <br> visual sitemaps for your web projects.
        </h1>
        <p class="small">
          No credit card required. Invite unlimited team <br> members to try it out with you.
        </p>
        <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { method:  :put, class: 'user-form' } do |f| %>

          <%= f.hidden_field :invitation_token %>

          <div class="form-group">
            <%= f.text_field :full_name, placeholder: 'Your name', class: 'form-control' %>
            <span class='error-message'><%= f.object.errors[:full_name].join(',') %></span>
          </div>
          <div class="form-group">
            <%= f.email_field :email, placeholder: 'Your work email', class: 'form-control', disabled: true %>
            <span class='error-message'><%= f.object.errors[:email].join(',') %></span>
          </div>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Choose a password' %>
           <span class='error-message'><%= f.object.errors[:password].join(',') %></span>
          </div>
          <div class="form-group">
            <%= f.submit "Sign up for free", class: 'btn btn-pink btn-block' %>
          </div>
        <% end %>
        <p class="go-to-login">
          Already signed up?
          <%= link_to "Log in here", new_session_path(resource_name), class: 'link' %>.
        </p>
        <p class="go-to-terms">By signing up, you agree to our straightforward <a href="http://timblee.io/terms" class="link" target='_blank'>terms</a>.</p>
      </div>
    </div>
  </section>
</main>
<!-- Sign Up Page for invited users -->
