<!DOCTYPE html>
<html>
<head>
  <title>Timblee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body style='margin-left:50px;'>
  <% if current_user %>

    <div class='row'>
      <a href='#'><%= link_to 'Logout', destroy_user_session_path, method: :delete %></a>
    </div>
  <!-- Header -->
  <header class="main-header">
    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-3">
            <a href="javascript:void(0);">
              <%= image_tag('Timblee-logo.svg', class: 'logo-main') %>
            </a>
          </div>
          <div class="col-xs-9">
            <ul id="navigation" class="clearfix p-0 m-0">
              <li class="nav-item">
                <%= link_to 'Home', root_path %>
              </li>
              <li class="nav-item"><a href="javascript:void(0);">Progress</a></li>
              <li class="nav-item"><a href="javascript:void(0);">Jump to</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Header -->


  <% else %>
    <%= link_to 'Login', new_user_session_path %>
  <% end %>

  <%= render 'shared/flash_message.html.erb' %>
  <%= yield %>

</body>
</html>
