<!DOCTYPE html>
<html>
<head>
  <title>Timblee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <div class="flash">
        <% flash.each do |type, message| %>
          <% if message.present? %>
            <div class="message <%= type %>">
              <span><%= message %></span>
            </div>
          <% end %>
        <% end %>
      </div>
<%= yield %>

</body>
</html>
