<!DOCTYPE html>
<html>
<head>
  <base href=<%= root_url %> target="_blank" />
  <%= javascript_include_tag 'pdf', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  'canvas_export', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body id='body' class="<%= @page_size.to_s.downcase.presence || 'png' %>">
  <%= yield %>
</body>
  <%= render 'layouts/emoji_assets_path' %>
</html>
