<!DOCTYPE html>
<html>
<head>
  <title>Timblee</title>
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=yes">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if Rails.env == 'staging' %>
    <%= javascript_include_tag 'staging_hotjar', 'data-turbolinks-track' => true %>
  <% elsif Rails.env == 'production' %>
    <%= javascript_include_tag 'production_hotjar', 'data-turbolinks-track' => true %>
  <% end %>

  <%= favicon_link_tag 'Timblee-Square-Favicon.png?1' %>

  <script type="text/javascript">
    (function() {
      var config = {
        kitId: 'rru5bof',
        scriptTimeout: 3000
      };
      var d = false;
      var tk = document.createElement('script');
      tk.src = '//use.typekit.net/' + config.kitId + '.js';
      tk.type = 'text/javascript';
      tk.async = 'true';
      tk.onload = tk.onreadystatechange = function() {
        var rs = this.readyState;
        if (d || rs && rs != 'complete' && rs != 'loaded') return;
        d = true;
        clearTimeout(t);
        try { Typekit.load(config); } catch (e) {}
      };
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(tk, s);
    })();

  </script>
  <%= csrf_meta_tags %>
</head>

<body class='hide-header'>
  <div class="loader">
    <div class="loader-logo">
      <img src="/assets/Timblee-icon.svg" alt=" ">
    </div>
    <div class="timblee text-center">
      <h1>Timblee</h1>
      <p>Beautiful Visual Sitemaps</p>
    </div>
  </div>
  <%= yield %>

  <div class= 'flash-message'>
    <%= render 'shared/flash_message.html.erb' %>
  </div>
</body>
</html>

