<!-- Sign Up Page -->
<main class="main">
  <section class="user-entry registration-page <%= 'with-error' if resource.errors.present? %>">
    <div class="panel">
      <div class="panel-body text-center">
        <div class="logo">
          <%= image_tag('Timblee-icon.svg', class: 'logo-inner') %>
        </div>
        <h1 class="modal-heading">
          Try Timblee free for <%= request.path == new_user_registration_60_day_trial_path ? 60 : params[:trial_days] || 30 %> days and create beautiful <br> visual sitemaps for your web projects.
        </h1>
        <p class="small">
          No credit card required. Invite unlimited team <br> members to try it out with you.
        </p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'user-form' }) do |f| %>
          <div class="form-group">
            <%= f.text_field :full_name, placeholder: 'Your name', class: 'form-control' %>
            <span class='error-message'><%= f.object.errors[:full_name].join(',') %></span>
          </div>
          <div class="form-group">
            <%= f.text_field :business_name, placeholder: 'Business name', class: 'form-control' %>
            <span class='error-message'><%= f.object.errors[:business_name].join(',').html_safe %></span>
          </div>
          <div class="form-group">
            <%= f.text_field :email, placeholder: 'Your work email', class: 'form-control' %>
            <span class='error-message'><%= f.object.errors[:email].join(',').html_safe %></span>
          </div>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Choose a password' %>
           <span class='error-message'><%= f.object.errors[:password].join(',') %></span>
          </div>

          <%= hidden_field_tag :trial_days, request.path == new_user_registration_60_day_trial_path ? 60 : params[:trial_days] || 30 %>

          <div class="form-group">
            <%= f.submit "Sign up for free", class: 'btn btn-pink btn-block' %>
          </div>
        <% end %>
        <p class="go-to-login">
          Already signed up?
          <%= link_to "Log in here", new_session_path(resource_name), class: 'link' %>.
        </p>
        <p class="go-to-terms">By signing up, you agree to our straightforward <a href="http://timblee.io/terms" class="link" target='_blank'>terms</a>.</p>
      </div>
    </div>
  </section>
</main>
<!-- Sign Up Page -->
